<I-----html correo--->
<label for="correo---">Correo</label>
<input type="correo">
<br>
<hr>
<I-------input ---> 
<label for="pasword">Pasword</label>
<input type="password" id="password"> 

<br>
<hr>   

<I-------input ---> 
<label for="cantidad">Cantidad a pagar</label>
<input type="cantidad" id="cantidad">   

<br>
<hr>   
<I-------input ---> 
    <label for="nit">NIT</label>
    <input type="nit" id="nit"> 
<br>
<hr>  

<I-------input fecha--->
<label for="fecha">Fecha</label>
<input type="fecha" id="fecha">

<hr>
<br>
<button (click)="(y)">Borrar</button>
<button (click)="(y)">Guardar</button>
